body {
    margin: 0;
    color: white;
    font-family: 'Times New Roman', serif; 
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.background-container {
    position: relative;
    width: 100%;
    max-height: 95vh;
    overflow: hidden;
}
img.background {
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: top; 
}
.heading {
    position: absolute; 
    bottom: 20px; 
    left: 24px; 
    font-size: 36px; 
    font-weight: normal; 
    color: #4f4f4f; 
    font-family: 'Times New Roman', serif; 
    letter-spacing: 5px; 
    z-index: 1; 
}
.w3-top {
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
}
.w3-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w3-bar .w3-left {
    flex: 1; 
}
.w3-bar .w3-right {
    display: flex; 
    gap: 5px;
}
.medium-image {
    display: block; 
    margin: 60px 20px; 
    width: 40%; 
    max-width: 500px; 
    z-index: 1; 
    opacity: 0.75; 
}
.flex-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 20px; 
    position: relative;
}
.text-box {
    width: 70%; 
    max-width: 520px; 
    margin-left: 20px; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px; 
    color: black; 
    font-family: 'Times New Roman', serif; 
    text-align: justify; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-box h1 {
    font-size: 35px; 
    letter-spacing: 5px; 
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center; 
    font-family: 'Times New Roman', serif; 
}
.text-box .tradition {
    font-size: 18px; 
    letter-spacing: 5px; 
    margin: 15px 0; 
    text-align: center; 
}
.text-box p {
    font-size: 15px; 
    margin: 10px 0; 
    text-align: left;
}
.dark-gray {
    color: rgb(115, 114, 114); 
}
.highlight {
    background-color: rgba(233, 237, 240, 0.984);
    padding: 2px 5px;
    border-radius: 3px;
}
hr {
    width: 75%;
    border: none;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.5);
    margin: 20px auto;
}
.menu-title {
    font-family: 'Times New Roman', serif;
    font-size: 19px;
    text-align: left;
    margin-bottom: 5px;
}
.menu-description {
    color: rgb(115, 114, 114);
    font-size: 15px;
    margin-top: 10px;
}
.third-image {
    opacity: 0.75;
}
.custom-hr {
    width: 75%;
    border: none;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.5);
    margin: 20px auto;
}
.contact-section {
    margin: 20px 0 20px 10px;
    max-width: 520px;
    text-align: left;
}
.contact-title {
    margin: 0;
}
.contact-description {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 10px 0 0;
    width: 1500px;
    padding-left: 177px;
}
.contact-address {
    margin: 0;
    padding-left: 177px;
    white-space: nowrap;
}
.contact-name {
    color: rgb(131, 131, 131);
    font-size: 15px;
    margin: 10px 0 0;
    width: 1500px;
    padding-left: 182px;
}
.contact-input {
    flex-grow: 1;
    border: none;
    margin: 10px 0 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    outline: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 5px rgba(251, 251, 251, 0.12);
    transition: border-bottom 0.3s;
}
.contact-input.input-focus {
    border-bottom: 2px solid rgba(100, 100, 100, 0.7);
}
.text-container span{
    color:red;
}
.text-container h1{
    color:blue;
}
.table{
    color:black;
}
.table td{
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background-color: #ccc;
}
.table tr{
    text-transform: uppercase;
}
.table thead{
    font-weight: bold;
}